@media(max-width:1358px){
    .first{
        align-items: center;
        flex-direction: column;
    }
    .second{
        align-items: center;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 10px;
    }
    .search-section{
        flex-direction: column;
        padding-bottom: 20px;
    }
    .btn1{
        padding: 9px 17px;
    }
    .input{
        margin: 17px;
padding: 9px 11px;
width: 323px;
border-radius: 11px;
text-align: center;
    }

}